#counter-section {
    background-color: $primary-color;
    padding: 96px 0;
    @include lg-max {
    padding: 70px 0;
    }
    @include md-max {
    padding: 60px 0;
    }
    .counter-items {
        &::after {
            content: " ";
            display: block;
            clear: both;
        }
        .counter-item {
            float: left;
            width: 25%;
            @include rwd-max(920) { 
                width: 50%;
                margin: 5px 0;
            }
            @include sm-max {
                width: 100%;
            }
            text-align: center;
            > * {
                display: inline-block;
            }
            h4.counter-number {
                color: $green;
                font-family: $oregano;
                font-size: 60px;
                margin-right: 15px;
                transform: translateY(2px);
            }
            p {
                color: $white;
                font-weight: 500;
                text-transform: uppercase;
                text-align: left;
            }
        }
    }
}